*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.App {
  width: 360px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 8px;
  background-color: var(--color-secondary-light);
  position: relative;
  display: flex;
  flex-direction: column;
}
