.inputField-group {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    text-transform: capitalize;
    font-size: 1.025rem;
  }

  input[type=text] {
    padding: 8px 8px;
    color: var(--color-brand-dark);
    font-size: 1.025rem;
    border-radius: 5px;
    border: 1px solid var(--color-brand);

    &:focus {
      outline: none;
      border-bottom: 4px solid var(--color-brand);
    }
  } 
}