.book-details {
  margin-top: 24px;
  height: 170px;
  display: flex;
  gap: 1rem;
  border: 1px solid var(--color-brand);
  padding-block: 12px;
  border-radius: 5px;

  .image-container {
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 100px;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3 {
      font-size: 1.25rem;
    }

    p {
      color: var(--color-brand-dark);
    }

    p + p {
      font-size: 0.9rem;
      color: var(--color-secondary-1);

    }

    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;

      .btn-add-to-cart {
        border: 1px solid var(--color-brand);
        background: none;
      }
    }
  }
}
