.footer {
  background: var(--color-brand-dark);
  color: #cfcfcf;
  padding-block: 1rem 0;
  padding-inline: 1rem;
  margin-top: auto;
  border-radius: 5px 5px 0 0;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__section {
    margin-bottom: 1rem;

    &-heading {
      text-align: center;
      font-family: "Mondapick", sans-serif;
      h1 {
        color: var(--color-brand);
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-bottom: 1rem;
        letter-spacing: 1px;
      }
      &-slogan {
        height: 4em;
        line-height: 1.5em; 
        overflow: hidden;
        color: var(--color-secondary-light);
        font-size: 16px;
        margin: 0px 10px;
      }
    }

    &-text {
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.5;
      opacity: 0.8;
    }

    &-page-links {
      width: 100%;
      flex-direction: column;
      @extend .center-div;
      gap: 20px;

      a {
        color: var(--color-secondary-light);
        text-decoration: none;
        cursor: pointer;
      }
    }

    &-copyright {
      text-align: center;
      font-size: 1rem;
      font-weight: 200;
      font-family: "Mondapick", sans-serif;
    }
  }

  &__social-icons {
    @extend .center-div;
    a {
      display: inline-block;
      margin: 6px 10px 3px 10px;
      font-size: 1.5rem;
      color: var(--color-secondary-1);
      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--color-brand);
      }
    }
  }
  &__section {
    margin: 12px 0px;
    color: var(--color-secondary-1);
  }
}
