.footer {
  background: var(--color-brand-dark);
  color: #cfcfcf;
  padding-block: 1rem 0;
  padding-inline: 1rem;
  margin-top: auto;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__section {
    margin-bottom: 1rem;

    &-heading {
      color: var(--color-brand);
      text-align: center;
      font-size: 1.25rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &-text {
      margin: 0;
      font-size: 0.9rem;
      line-height: 1.5;
      opacity: 0.8;
    }

    &-page-links {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 8px;

      a {
        color: var(--color-secondary-1);
      }
    }

    &-copyright {
      text-align: center;
      font-size: 1rem;
      font-weight: 200;
      font-family: "Mondapick", sans-serif;
    }
  }

  &__social-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: inline-block;
      margin-right: 1.5rem;
      font-size: 1.5rem;
      color: #ffffff;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--color-brand);
      }
    }
  }
}
