.hero-section {
  border: 1px solid red;
  height: 30vh;
  position: relative;

  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-section-info {
    position: absolute;
    z-index: 1;

    .hero-statement {
    }
  }
}
