.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  height: 58px;
}

.nav-left .nav-right {
  display: flex;
}

.nav-right {
  align-items: center;
  gap: 1rem;

  .dropDownContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    cursor: pointer;

    .imageContainer {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }

    .dropdown {
      position: relative;

      .dropdown__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
      }

      .dropDownList {
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        top: 24px;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);

        div {
          padding: 8px;
          font-size: 0.85rem;
          box-shadow: 0px 10px 15px -3px rgba(160, 160, 160, 0.1);

          a {
            text-decoration: none;
            color: var(--color-brand-dark);
          }

          &:hover {
            background-color: var(--color-secondary);
          }
        }
      }
    }
  }

  select {
    padding: 8px;
    cursor: pointer;

    option {
      cursor: pointer;
    }
  }
  button {
    padding: 8px 12px;
    cursor: pointer;
  }
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  img {
    width: 20px;
    display: none;
  }
}

.nav-left .nav-links {
  display: flex;
  list-style: none;
  gap: 20px;

  li a {
    text-decoration: none;
    color: var(--color-primary);
  }

  li a.active,
  li a:active {
    border-bottom: solid var(--color-brand) 2px;
  }
}
