:root {
  --color-brand: #108666;
  --color-brand-dark: #102822;
  --color-primary: #232323;
  --color-secondary: #87c2b3;
  --color-secondary-1: #7c7c7c;
  --color-secondary-light: #e7f3f0;


  --padding-btn: calc(8px + 1.5625vw);
}
